.SideDrawer {
    position: fixed;
    max-width: 70%;
    height: 100%;
    z-index: 200;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 32px 16px;
    transition: transform 0.3s ease-out;
}

@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.Logo {
    height: 10%;
    width: 25%;
    margin-bottom: 32px;
}