.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-style: italic;

    h5 {
        margin: 5px;
        font-size: 1rem;
    }
}

@media (max-width: 710px) {
    .container {

        h5 {
            font-size: 12px;
        }
    }   
}